.wireframe-11 {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    padding-bottom: 232px;
    flex-direction: column;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .wireframe-11 {
      padding-bottom: 100px;
    }
  }
  .media {
    background-color: #585E52;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    align-items: start;
    gap: 20px;
    overflow: hidden;
    justify-content: space-between;
    padding: 26px 38px;
    border: 1px solid rgba(217, 207, 207, 1);
  }
  @media (max-width: 991px) {
    .media {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img {
    aspect-ratio: 1.36;
    object-fit: contain;
    object-position: center;
    width: 53px;
  }
  .media2 {
    display: flex;
    margin-top: 14px;
    gap: 30px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    text-align: center;
    flex-wrap: wrap;
    font: 400 20px Helvetica, sans-serif;
  }
  @media (max-width: 991px) {
    .media2 {
      white-space: initial;
    }
  }
  .home {
    flex-grow: 1;
  }
  .testimonial {
    flex-basis: auto;
  }
  .media3 {
    background-color: rgba(72, 75, 68, 1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 2px 8px 13px;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
  }
  .media4 {
    
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.2);
        align-self: center;
        display: flex;
        margin-top: 112px;
        width: 100%;
        max-width: 1120px;
        padding-bottom: 95px;
        flex-direction: column;
        overflow: hidden;
      }
  
  @media (max-width: 991px) {
    .media4 {
      max-width: 100%;
      padding-bottom: 100px;
      margin-top: 40px;
    }
  }
  .media5 {
    background-color: rgba(88, 94, 82, 0.15);
    display: flex;
    gap: 20px;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1px;
    font: 400 22px Helvetica, sans-serif;
  }
  @media (max-width: 991px) {
    .media5 {
      white-space: initial;
    }
  }
  @media (max-width: 480px) {
    .media5 {
      white-space: initial;
      display: block;
    }
  }
  .description {
    background-color: rgba(88, 94, 82, 1);
    overflow: hidden;
    padding: 32px 25px;
    color: white;
  }
  @media (max-width: 991px) {
    .description {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .mediaa {
    background-color: rgba(88, 94, 82, 0.15);
    overflow: hidden;
    color: rgba(88, 94, 82, 1);
    padding: 32px 51px;
  }
  @media (max-width: 991px) {
    .mediaa {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .location {
    background-color: rgba(88, 94, 82, 1);
    overflow: hidden;
    padding: 32px 39px;
    color: white;

  }
  @media (max-width: 991px) {
    .location {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .details {
    background-color: rgba(88, 94, 82, 1);
    overflow: hidden;
    padding: 32px 47px;
    color: white;

  }
  @media (max-width: 991px) {
    .details {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .amenities {
    background-color: rgba(88, 94, 82, 1);
    overflow: hidden;
    padding: 32px;
    color: white;

  }
  @media (max-width: 991px) {
    .amenities {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .media6 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    font-size: 16px;
    color: rgba(131, 119, 119, 1);
    margin: 36px 0 -25px;
    padding: 0 37px;
  }
  @media (max-width: 991px) {
    .media6 {
      max-width: 100%;
      margin-bottom: 10px;
      padding: 0 20px;
    }
  }
  .these-fields-are-mandatory-title-property-category-submit-property-action-category {
    color: rgba(126, 116, 116, 1);
    font-size: 20px;
    text-align: center;
  }
  @media (max-width: 991px) {
    .these-fields-are-mandatory-title-property-category-submit-property-action-category {
      max-width: 100%;
    }
  }
  @media (max-width: 480px) {
    .these-fields-are-mandatory-title-property-category-submit-property-action-category {
      max-width: 100%;
        font-size: 21px;
        margin-left: -18px; 
        }
  }
  .listing-media {
    color: rgba(101, 95, 95, 1);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 19px;
  }
  @media (max-width: 991px) {
    .listing-media {
      margin-left: 3px;
    }
  }
  .media7 {
    border-radius: 18px;
    background-color: rgba(88, 94, 82, 0.15);
    align-self: stretch;
    display: flex;
    margin-top: 33px;
    width: 100%;
    height: 246px;
  }

@media (max-width: 480px) {
  .media7 {
    margin-left: 3px;
    width: 88%;

  }
}
  .media8 {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin: 28px 0 0 43px;
  }
  @media (max-width: 480px) {
    .media8 {
      margin-left: 3px;
      width: 88%;
  
    }
  }
  .media9 {
    background-color: rgba(131, 119, 119, 1);
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    margin: auto 0;
  }
  @media (max-width: 480px) {
    .media9 {
      margin-left: 9px;
  
    }
  }
  .at-least-1-image-is-required-for-a-valid-submission-minimum-size-is-500-500-px {
    flex-basis: auto;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .at-least-1-image-is-required-for-a-valid-submission-minimum-size-is-500-500-px {
      max-width: 100%;
    }
  }
  @media (max-width: 480px) {
    .at-least-1-image-is-required-for-a-valid-submission-minimum-size-is-500-500-px {
        max-width: 90%;
    }
  }
  .media10 {
    display: flex;
    gap: 11px;
    margin: 4px 0 0 43px;
  }
  @media (max-width: 991px) {
    .media10 {
      margin-left: 10px;
    }
  }
  .media11 {
    background-color: rgba(131, 119, 119, 1);
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    margin: auto 0;
  }
  .double-click-on-the-image-to-select-featured {
    flex-basis: auto;
    flex-grow: 1;
  }
  .media12 {
    display: flex;
    gap: 6px;
    margin: 5px 0 0 43px;
  }
  @media (max-width: 991px) {
    .media12 {
      margin-left: 10px;
    }
  }
  .media13 {
    background-color: rgba(131, 119, 119, 1);
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    margin: auto 0;
  }
  .change-images-order-with-drag-drop {
    flex-basis: auto;
    flex-grow: 1;
  }
  .media14 {
    display: flex;
    gap: 11px;
    text-align: center;
    margin: 6px 0 0 43px;
  }
  @media (max-width: 991px) {
    .media14 {
      margin-left: 10px;
    }
  }
  .media15 {
    background-color: rgba(131, 119, 119, 1);
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    margin: auto 0;
  }
  .pdf-files-upload-supported-as-well {
    flex-basis: auto;
    flex-grow: 1;
  }
  .media16 {
    display: flex;
    gap: 11px;
    text-align: center;
    margin: 4px 0 0 43px;
  }
  @media (max-width: 991px) {
    .media16 {
      margin-left: 10px;
    }
  }
  .media17 {
    background-color: rgba(131, 119, 119, 1);
    border-radius: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    margin: auto 0;
  }
  .images-might-take-longer-to-be-processed {
    flex-basis: auto;
    flex-grow: 1;
  }
  .property-price {
    color: rgba(101, 95, 95, 1);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 34px;
  }
  @media (max-width: 991px) {
    .property-price {
      margin-left: 3px;
    }
  }
  .video-from {
    color: rgba(141, 132, 132, 1);
    font-size: 15px;
    text-align: center;
    margin-top: 16px;
  }
  @media (max-width: 991px) {
    .video-from {
      margin-left: 3px;
    }
  }
  .media18 {
    border-radius: 18px;
    background-color: rgba(88, 94, 82, 0.15);
    display: flex;
    margin-top: 11px;
    width: 481px;
    max-width: 100%;
    height: 76px;
  }
  @media (max-width:480px) {
    .media18 {
      margin-left: 3px;
      width: 90%;
    }
  }
  .embed-video-id {
    color: rgba(141, 132, 132, 1);
    font-size: 15px;
    text-align: center;
    margin-top: 14px;
  }
  @media (max-width: 991px) {
    .embed-video-id {
      margin-left: 3px;
    }
  }
  .media19 {
    border-radius: 18px;
    background-color: rgba(88, 94, 82, 0.15);
    display: flex;
    margin-top: 12px;
    width: 481px;
    max-width: 100%;
    height: 76px;
  }
  @media (max-width:480px) {
    .media19 {
      margin-left: 3px;
      width: 90%;
    }
  }
  .virtual-tour {
    color: rgba(101, 95, 95, 1);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 54px;
  }
  @media (max-width: 991px) {
    .virtual-tour {
      margin: 40px 0 0 3px;
    }
  }
  .virtual-tour-2 {
    color: rgba(141, 132, 132, 1);
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
  @media (max-width: 991px) {
    .virtual-tour-2 {
      margin-left: 3px;
    }
  }
  .media20 {
    border-radius: 18px;
    background-color: rgba(88, 94, 82, 0.15);
    align-self: stretch;
    display: flex;
    margin-top: 11px;
    height: 121px;
    max-width: 90%;
  }
  @media (max-width: 991px) {
    .media20 {
      max-width: 100%;
    }
  }
  @media (max-width: 480px) {
    .media20 {
      max-width: 90%;
    }
  }
  .media21 {
    display: flex;
    margin-top: 81px;
    gap: 33px;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
  }
  @media (max-width: 991px) {
    .media21 {
      margin-top: 40px;
    }
  }
  @media (max-width: 480px) {
    .media21 {
      margin-top: 40px;
    }
  }
  .prev-step {
    border-radius: 18px;
    background-color: rgba(88, 94, 82, 1);
    overflow: hidden;
    padding: 24px 54px;
  }
  @media (max-width: 991px) {
    .prev-step {
      padding: 0 20px;
    }
  }
  @media (max-width: 480px) {
    .prev-step {
      padding: 22px 23px;
      ;
    }
  }
  .next-step {
    border-radius: 18px;
    background-color: rgba(88, 94, 82, 1);
    overflow: hidden;
    padding: 24px 54px;
  }
  @media (max-width: 991px) {
    .next-step {
      padding: 0 20px;
    }
  }
  @media (max-width: 480px) {
    .next-step {
      /* padding: 0 20 40px; */
      /* width: 20px; */
    }
  }