.Testo{
width: 100vw;
}
@media only screen and (max-width: 600px) {
  .Testo {
overflow-x: hidden;
  }
}
.testo-image{
   display: flex;
   justify-content: space-around;
}

@media only screen and (max-width:1024px) {
  .testo-image {
   
    display:grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
    gap: 10px;
  }
  
}
@media only screen and (max-width:600px) {
  .testo-image {
    display:grid;
    text-align: center;
    grid-template-columns: 3fr; 
    align-items: center;
    margin: auto;
    gap: 10px;
  }
}
/* ---------------------------------------- */
.first-cont{
    background-color: #585E52;
    height: 50vh;
    margin: 0;
}
@media only screen and (max-width:1024px) {
  .first-cont{
    background-color: #585E52;
    height: 30vh;
    margin: 0;
}
}
/* ------------------------------------- */
.head-para{
  margin-left: 10%;
}
.second-cont{
margin-top: 10vh;
display: flex;
}
.second-cont p{
  font-family: Helvetica light;
    font-size: 1.1rem;
}
@media only screen and (max-width: 1024px) {
  .head-para{
    margin-left: 7%;
  }
  .second-cont {
    margin-top: 6vh;
  }
  .second-cont p{
    font-family: Helvetica light;
      font-size: 0.9rem;
      line-height: 2vh;
  }
}
@media only screen and (max-width:600px) {
  .head-para{
    margin-left: 0px;
    display:block;
   margin: auto;
  }
  .second-cont {
    margin-top: 6vh;
    flex-direction: column;
  }
  .second-cont p{
    font-family: Helvetica light;
      font-size: 0.8rem;
      line-height: 2vh;
      text-align: justify;
  }
}
/* ---------------------------------- */
.second-cont h1{
    margin-left: 20%;
    font-family: Helvetica;
    font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .second-cont h1 {
    font-size:1.4rem;
      margin-left: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .second-cont h1 {
   display: flex;
   justify-content: center;
  }
}
/* ------------------------------------------- */
.view-more-button {
  background-color: #585E52;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 150px;
}
@media only screen and (max-width: 600px) {
  .view-more-button {
    font-size: 12px;
    margin-left: 82px;
    margin-right: 37px;
    width: 11vh;
    
  }
}
.review {
    display: block;
    margin-left: 200px;
    font-size: 25px;
}
@media (max-width: 991px) {
  .review{
    margin-left: 35px;
  }
}
@media (max-width: 480px) {
  .review{
    margin-left: 9px;
    margin-top: 76px;

  }
}

.block1 {
    display: flex;
    align-items: center;
    margin-bottom: 60px; /* Space between each block */
}
.review1{
    margin-left: 80px;
}
@media only screen and (max-width: 1024px) {
  .review1{
    width: max-content;

  }
}
@media only screen and (max-width: 600px) {
  .review1{
    width: max-content;

  }
}
.first-line {
    width: 7px;
    height: 80px;
    background-color: #d9d9d9;
    border-radius: 2px;
    margin-right: 20px; /* Space between line and circle */
}

.first-circle {
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 20px; /* Space between circle and text */
}

.review h5 {
    font-family: Harmattan;
    font-weight: bold;
    margin: 0;
    margin-bottom: 37px;
}
@media (max-width: 480px) {
  .review h5{
    width: max-content;
    font-size: 16px;
    margin-top: -32px;    

  }
}
.akshay-par {
    margin-left: 147px; /* Align text with the start of the h5 text */
    /* margin-bottom: 40px; */
    margin-top: -120px;
}

.akshay-par p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
  .review2{
    width: max-content;

  }
}
.block2 {
    display: flex;
    align-items: center;
    margin-bottom: 60px; /* Space between each block */
    margin-top: 30px;
}

.second-line {
    width: 7px;
    height: 80px;
    background-color: #d9d9d9;
    border-radius: 2px;
    margin-right: 20px; /* Space between line and circle */
}

.second-circle {
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 20px; /* Space between circle and text */
}
.review3{
    margin-left: 80px;
}

@media only screen and (max-width: 600px) {
  .review3{
    width: max-content;
  }
}
.block3 {
    display: flex;
    align-items: center;
    margin-bottom: 60px; /* Space between each block */
    margin-top: 30px;
}

.third-line {
    width: 7px;
    height: 80px;
    background-color: #d9d9d9;
    border-radius: 2px;
    margin-right: 20px; /* Space between line and circle */
}

.third-circle {
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 20px; /* Space between circle and text */
}
/* ------------------------------------------------ */


.div-team {
    background-color: rgba(88, 94, 82, 0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 15vh 0vw 15vh 0vw;
    margin-top: 10vh;
  }
  @media only screen and (max-width: 1024px) {
    .div-team {
      padding: 10vh 0vw 10vh 0vw;
    }
  }
  /* -------------------------------- */
  .div-team-2 {
    display: flex;
    /* width: 100%;
    max-width: 1206px; */
    flex-direction: column;
    align-items: center;
  }
  
  .meet-our-team {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font: 700 3rem Harmattan, sans-serif;
  }
  .div-team-3 {
    border-radius: 5px;
    background-color: rgba(88, 94, 82, 1);
    display: flex;
    width: 30vw;
    height: 10px;
  }
  
  .div-team-4 {
    align-self: stretch;
    margin-top: 115px;
  }

  .div-team-5{
    display: flex;
    justify-content: space-around;
    gap: 3vw;
  }
  .columnn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 26%;
    margin: 0px;
  }
  @media only screen and (max-width: 1024px) {
    .div-team-3 {
      width: 40vw;
    }
    .div-team-4 {
      /* max-width: 100%; */
      display: flex;
    }
  
  .div-team-5 {
    gap: 2vw;
    display: flex;
    justify-content: space-around;
    margin-top: -1vh;
  }
  
  .columnn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin: 0px;
  }
}
  @media only screen and (max-width: 600px) {
    .div-team-5 {
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      margin-top: -2vh;
      gap: 0px;
    }
    .columnn {
      width: 100%;
    }
  }
  @media only screen and (max-width:600px) {
    .div-team-3 {
      width: 80vw;
    }
    
  }
  /* ------------------------------------------w */
  .div-team-6 {
    border-radius: 200px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 0 auto;
    padding:4vw 5vw;
  }
 
  .div-team-7 {
    background-color: rgba(233, 174, 174, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* width: 200px;
    height: 200px;  */
    aspect-ratio: 1;
  }
  .ark-smith {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    align-self: center;
    margin-top: 4vh;
    font: 700 2.3rem Harmattan, sans-serif;
  }
  .hy-i-am-ark-smith-this-is-our-team {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font: 400 1.4rem Helvetica Light, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media only screen and (max-width: 1024px) {
    .div-team-6 {
      margin-top: 40px;
      /* padding: 0 20px; */
    }
    .ark-smith {
      color: rgba(0, 0, 0, 1);
      margin-top: 2.5vh;
      font: 700 1.5rem Harmattan, sans-serif;
    }
    .hy-i-am-ark-smith-this-is-our-team {
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .div-team-6 {
      margin-top: 45px;
      display: flex;
      justify-content: center;
      align-content: center;
      padding:3.5vh 2vw;
    }
    .div-team-7 {
      display: block;
      margin: auto;
      margin-top: 3vh;
      
      width: 50%;
      height: 50%;
      text-align: center;
    }
    .ark-smith {
      color: rgba(0, 0, 0, 1);
      margin-top: 2.5vh;
      font: 700 1.5rem Harmattan, sans-serif;
    }
    .hy-i-am-ark-smith-this-is-our-team {
      font-size: 1.1rem;
      padding: 3px;
    }
  }
 /* -------------------------------------------- */
  .div-team-8 {
    align-self: center;
    display: flex;
    margin-top: 68px;
    width: 162px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
  @media only screen and (max-width: 1024px) {
    .div-team-8 {
      margin-top: 40px;
    }
  }
  .div-team-9 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .div-team-10 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .div-team-11 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .columnn-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media only screen and (max-width: 1024px) {
    .columnn-2 {
      width: 100%;
    }
  }
  .div-team-12 {
    border-radius: 200px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    padding: 41px 45px;
  }
  @media (max-width: 991px) {
    .div-12 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-team-13 {
    background-color: rgba(233, 174, 174, 1);
    border-radius: 50%;
    display: flex;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    margin: 0 23px;
    margin-left: 40px;

  }
  @media only screen and (max-width: 1024px) {
    .div-team-13 {
      margin: 0 10px;
    }
  }
  .div-team-14 {
    align-self: center;
    display: flex;
    margin-top: 68px;
    width: 162px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-team-14 {
      margin-top: 40px;
    }
  }
  .div-team-15 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .div-team-16 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .div-team-17 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnn-3 {
      width: 100%;
    }
  }
  .div-team-18 {
    border-radius: 200px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    padding: 41px 45px;
  }
  @media only screen and (max-width:1024px) {
    .div-team-18 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-team-19 {
    background-color: rgba(233, 174, 174, 1);
    border-radius: 50%;
    display: flex;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    margin: 0 23px;
    /* padding-left: 30px; */
    margin-left: 40px;

  }
  @media only screen and (max-width: 1024px) {
    .div-team-19 {
      margin: 0 10px;
    }
  }
  .div-team-20 {
    align-self: center;
    display: flex;
    width: 162px;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
    margin: 68px 0 0 10px;
  }
  @media only screen and (max-width: 1024px) {
    .div-team-20 {
      margin-top: 40px;
    }
  }
  .div-team-21 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .div-team-22 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .div-team-23 {
    background-color: rgba(228, 180, 180, 1);
    border-radius: 50%;
    display: flex;
    width: 40px;
    .testo1:nth-child(1),
    .testo1:nth-child(3) {
      grid-column: 1; /* First and third images on the left */
      margin-top: 243px;
      width: 213px;

    }
  
    .testo1:nth-child(2) {
      grid-column: 2; /* Second image on the right */
      margin-top: 223px;
      width: 300px;

    }
      
    .first-cont {
      width: 758px;
    }
  
    .div-team {
      padding: 100px 20px 0;
      width: 626px;
    }
  
    .div-team-2 {
      max-width: 100%;
    }
  
    .div-team-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  
   
    .columnn {
      width: 90%;
    }
  
    .div-team-6 {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .div-team-7 {
      margin: 0 10px;
    }
  
    .div-team-8 {
      margin-top: 40px;
    }
  
    .div-team-12 {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .div-team-13 {
      margin: 0 10px;
    }
  
    .div-team-14 {
      margin-top: 40px;
    }
  
    .columnn-2 {
      width: 90%;
    }
  
    .columnn-3 {
      width: 90%;
      margin-bottom: 21px;

    }
  
    .div-team-18 {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .div-team-19 {
      margin: 0 10px;
    }
  
    .div-team-20 {
      margin-top: 40px;
    }
  }

  @media only screeen and (max-width: 600px) {
    .testo-image {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two columns, one for first+third image and one for second */
      align-items: center;
      gap: 10px;
      margin-top: -119px;
    }
  
      .testo1:nth-child(1),
      .testo1:nth-child(3) {
        grid-column: 1; /* First and third images on the left */
        margin-top: -25px;
        width: 24vh;
        margin-left: 22px;


      }
    
      .testo1:nth-child(2) {
        grid-column: 2; /* Second image on the right */
        /* margin-top: 441px; */
        width: 30vh;
      }
    }
   