.contactstructure{
    display: flex;
    width: 100vw;
    justify-content: space-around;
  }
 
  @media only screen and (max-width: 600px) {
   .contactstructure{
      position: relative;
      flex-direction: column;
    }
  }
  /* --------------------------------------- */
.contact{
    display: flex;
    justify-content:center;
    padding: 2vh 5vw;
    
  }
 
  @media only screen and (max-width: 600px) {
    .contact{
      position: relative;
    }
  }
  /* ---------------------------- */
  .contact-form{
   width: 45%;
    }

    .h-p{
      flex-direction: column;
    }
    
    @media only screen and (max-width: 1024px) {
      .contact-form{
        width: 45%;
         }
      .h-p{
          display: block;
      }}
   
      @media only screen and (max-width: 600px) {
        .h-p{
          display: block;
            font-weight: 500;
            margin: auto;
           /* width: 45%; */
           padding: 2vh 10vw;
            text-align: justify;
            height: auto;
        }
        .center{
          text-align: center;
        }
      }
    .h-p h1{
        color: #585E52;
        font-size: 2.3rem;
      
    }
    @media only screen and (max-width: 600px)  {
       .contact-form .h-p h1{
          /* display: flex; */
          text-align: center;
          font-size: 2rem;
          text-align: center !important;
        }
      }
    .p1{
        color:#5B5454;
        font-size: 1rem;
    }
    
    .form{
        flex-direction: column;
        margin-top: 30px;
        text-decoration: underline ;
        text-decoration-color: #666;
        border: none;
        color: #333;
        font-size: 4rem;
        /* padding: 10%; */
      
    }
   
      @media only screen and (max-width: 600px) {
        .contactstructure{
          width: 100vw;
        }
        .contact{
          display: block;
          margin: 0px;
          width: 100vw;
          padding: 0px;
          align-items: center;
          padding: 4vh 3vw;
         
        }
        .contact-form{
          /* padding: 4vh 3vw; */
          width: 100vw;
          display: block;
          margin: auto;
        }
        .center{
          text-align: center !important;
        }
        
      }
    .form input{
        border: none;
        background: none;
        border-bottom: 1px solid #D0C7C7;
        gap: 15px;
        color: #999;
        font-size: 25px;
    }
    @media only screen and (max-width: 600px) {
      .form{
        /* margin-left: 4px; */
       font-size: 2.3rem;
       text-align: center;
      }
        .form form input{
          font-size:1.3rem;
          padding: 2px;

        }
      }
    /* ------------------------------------ */
    .send-email{
     color: whitesmoke;
     background-color: rgb(18, 10, 10);   
     margin-top: 3vh;  
     padding: 3vh;    
     border-radius: 7px;  
     width:15vw; 
    }
    @media only screen and (max-width: 1024px) {
      .send-email{
        padding: 1vh;

      }
    }
    @media only screen and (max-width: 600px) {
        .send-email{
          padding: 1vh;
          width: 30vw;
            text-align: center;
        }
      }
      /* ----------------------------------- */
      .cont2{
        width: 55%;
        margin-left: 20vw;
        transform: translate(10%,-30%);
        margin-bottom: -10vh;
      }

    .colored-box {
      background-color: #D9D9D9; /* Box background color */
      color: #333; /* Text color for contrast */
      padding: 20px; /* Space inside the box */
      border-radius: 8px; /* Rounded corners */
      text-align: center; /* Center the text and button */
      margin: 10vw 4vw 0vw 4vw; /* Center the box horizontally with top and bottom margin */
      height: 45vh;
      position: relative; /* Position relative to allow absolute positioning of child elements */
      width: 24vw;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      margin-top: 60vh;
  }
  .small {
    background-color: #D9D9D9; 
    width: 70px;
    height: 70px;
    margin-top: 65vh;
    position: absolute;
    margin-left: -16vw;
  
}

  @media only screen and (max-width: 1024px) {
    .cont2{
      width: 45%;
      margin-left: 12vw;
      transform: translate(10%,-30%);
    }
    .colored-box{
      width: 25vw;
      height: 25vh;
      margin-top: 30vh;
      display: block;
      margin-left: 88px;
    }
    .small{
     margin-left:-2vw ;
      margin-top: 32vh;
    }
  }
  @media only screen and (max-width: 600px)  {
    .colored-box{
      display: inline-flex;
      margin-top: 4vh;
      margin-bottom: 4vh;
      margin-left:3vw ;
      width:45%;
      height: 20vh;
    }
    .small{
      display: none;
    }
  }
  
   @media only screen and (max-width: 600px) {
    .cont2{
      width: 100vw;
      display: block;
      padding: 0px;
      margin: 0px;
      margin: auto;
      padding: 0px;
      margin-bottom: 5vh;
      transform: translate(35%,0%);
      /* margin-left: 12vw; */
    }
   
  }


  /* --------------------- */
  .contact-box {
      background-color: #585E52;
      color: #fff; 
      padding: 4vh 3vw 10vh 4vw;
      border-radius: 8px;
      text-align: center;
      width: 100%; /* Ensure the width of the contact box */
      height: fit-content; /* Adjust height based on content */
      position: absolute; /* Absolute positioning */
      top: 14vh; /* Adjust this value to control how much the box protrudes */
      /* left: -20%; */
      transform: translateX(-50%); /* Center the box horizontally relative to the colored box */
      width: 300px;
  }
  @media only screen and (max-width: 1024px){
    .contact-box{
      /* margin-left: 41px; */
     
      width: 25vw;
      height: fit-content;
      margin-top: -5vh;
      padding-bottom: 3vh;
    }
    .small{
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .contact-box{
      margin-left: 41px;
      width: 45vw;
      height: fit-content;
      margin-bottom: 4vh;
        /* margin-top: -14px; */
    }
  }
  .contact-box p {
      font-size: 16px;
      margin-bottom: 40px;
      color: #D0C3C3;
  }
  
  .contact-box h1 {
    font-size: 26px;
    color: #fff;
    margin-top: 6vh;
    /* margin-left: -135px; */
    font: Helvetica;
  }
 
  @media only screen  and (max-width: 600px) {
    .contact-box h1{
     margin-top: 2vh;
      font-size: 1.4rem;

    }
  }
  
  .contact-button {
      background-color: white; /* Button background color */
      color: black; /* Button text color */
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

  }
  @media only screen and (max-width:1024px) {
    .contact-button{
        margin-left: 0px;

    }
  }
  @media only screen and (max-width: 600px) {
    .contact-button{
      margin-left: 0px;
      margin-top: -44px;
      padding: 10px;
    }
  }
  
  .contact-button:hover {
      background-color: #444; /* Darken the button on hover */
  }
  